In [ ]:
import pandas as pd
import numpy as np

In [ ]:
path='C:\\Users\\LENOVO\\Desktop\\NPOWER Materials\\Vancouver resources\\Course 7\\Week 1\GoodBelly-DataSet-Regression.xlsx'
df=pd.read_excel(path)
df.head()

,Date,Region,Store,Units Sold,Average Retail Price,Sales Rep,Endcap,Demo,Demo1-3,Demo4-5,Natural,Fitness
0,2010-05-04,FL,Biscayne (aka Aventura),150.702088,4.390000,0,0,0,0,0,1,0
1,2010-05-11,FL,Biscayne (aka Aventura),197.403797,3.997692,0,0,0,0,0,1,0
2,2010-05-18,FL,Biscayne (aka Aventura),235.106172,3.809231,0,0,0,0,0,1,0
3,2010-05-25,FL,Biscayne (aka Aventura),226.692427,3.835000,0,0,0,0,0,1,0
4,2010-06-01,FL,Biscayne (aka Aventura),257.688151,3.902500,0,0,0,0,0,1,0

In [ ]:
#Q1 - Give summary of numeric type of columns in dataset?

In [ ]:
#Q2 Calc STD of columns in dataset

In [ ]:
#Q3 mean of first 50 records in dataset

In [ ]:
#Q4 What are thecolumn names

In [ ]:
#Q - Number of elements in dataset

In [ ]:
#Q- No. of records this dataset has

In [ ]:
#Q type of column dataset has